html {
    scroll-behavior: smooth;
  }
body{
    display:flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.logo{
    object-fit: cover;
    width: 75px;
    max-height: auto;
    border-radius: 50%;
}
.logoimage{
    width: 75px;
    height: 75px;
    

}
.head{
    background-color: #1F2937;
    

}
.header p{
    font-size: 24px;
    color: #F9FAF8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    margin-right: auto;
    margin-left: auto;
    
    
}
.header div{
    display:flex;
    gap: 16px;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 8px;
}
.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 500px;
    margin-bottom: 0px;
    
}
.hero-second{
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}
button{
    background-color: blue;
    border: none;
    width: 100px;
    padding: 8px 12px;
    border-radius: 12px;
    color: #F9FAF8;
    
}
.image{
    /*background-color: lightgrey;
    height: 200px;
    width: 500px;*/
}

.header-text{
    margin-bottom: 20px;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    justify-content: end;
    
    
}
.quote-sign{
    font-size: 24px;
    /*border: 2px solid black*/
    
    
}
.quote .quote-sign{
    text-align: right;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #F9FAF8;
    padding: 16px;
}
.square{
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 13px;
    margin-bottom: 20px;
    
}
.para{
    width: 200px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

.cards{
    display:flex;
    
    justify-content: center;
    align-items: baseline;
    gap: 32px;
    flex-wrap: wrap;
    
}

.tiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.call{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto ;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 10px 50px;
    max-width: 500px;
    /*margin: 100px auto;*/
    gap: 32px;

}
.cardimage{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    
    
}
.signup-card h3{
    font-size: 15px;
}